.spinner-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(330deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(207, 255, 207, 1) 28%, rgba(254, 255, 228, 1) 45%, rgba(222, 235, 255, 1) 60%, rgba(255, 225, 225, 1) 76%, rgba(255, 255, 255, 1) 100%);
}

svg {
    font-family: "Russo One", sans-serif;
    width: 100%;
    height: 100%;


}

svg text {
    animation: stroke 3s infinite alternate;
    stroke-width: 2;
    stroke: #365FA0;
    font-size: 100px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(72, 138, 204, 1);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}