{% extends "base.html" %}
{% block title %}Product{% endblock title %}
{% block main %}
<div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>ANGEL BASS</h2>
        <p>THE FIRST PRODUCT THAT SPEAKS YOUR EMOTION</p>
    </div>
</div>
<div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
        <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="/static/img/Artboard_4.jpg">
            <div class="card-body p-4">
                <p class="text-primary card-text mb-0">Article</p>
                <h4 class="card-title">AI at its best</h4>
                <p class="card-text">AI Powered, We Use Gemini and angel watch technology to provide the best experience&nbsp;</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/img/Marius.jpg">
                    <div>
                        <p class="fw-bold mb-0">Marius</p>
                        <p class="text-muted mb-0">Programmer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="/static/img/Artboard_5.jpg">
            <div class="card-body p-4">
                <p class="text-primary card-text mb-0">Article</p>
                <h4 class="card-title">Let Your emotions Speak</h4>
                <p class="card-text">The best product using human emotions that  calm all negativities surrounding your life.</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/img/daryelle.jpg">
                    <div>
                        <p class="fw-bold mb-0">Daryelle</p>
                        <p class="text-muted mb-0">Psychologue</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="/static/img/Artboard_1.jpg">
            <div class="card-body p-4">
                <p class="text-primary card-text mb-0">Article</p>
                <h4 class="card-title">The Angels Voice&nbsp;</h4>
                <p class="card-text">Powered by the best surround system.</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/img/Gary_Augustin.jpg">
                    <div>
                        <p class="fw-bold mb-0">Augustin</p>
                        <p class="text-muted mb-0">Chief Technical officer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="/static/img/Artboard_2.jpg">
            <div class="card-body p-4">
                <p class="text-primary card-text mb-0">Article</p>
                <h4 class="card-title">Clean and Sleek</h4>
                <p class="card-text">A clean designed, so that it can be carried wherever you Want.</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/img/daryella.jpeg">
                    <div>
                        <p class="fw-bold mb-0">Daryella</p>
                        <p class="text-muted mb-0">designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}