

<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3 bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url "home" %}">
        <img
        src="/static/img/logo1.png"
        height="40px"
        alt="Gift Logo"
        loading="lazy"
        style="margin-top: 2px;"
      />
        <span>ANGELWATCH</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url "home" %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "product" %}">Products</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "about" %}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contacts</a></li>
            </ul>
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary shadow" role="button" href="{% url "logout" %}">Logout</a>
            {% else %}
            <a class="btn btn-primary shadow" style="margin-right:10px;"role="button" href="{% url "register" %}">Sign up</a>
            <a class="btn btn-primary shadow" role="button" href="{% url "login" %}">Login</a>
            {% endif %}
           
        </div>
    </div>
</nav>

<br><br><br>
<style>
    #register{
        margin-right:5px;
    }
</style>