{% load static %}

<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bs-init.js" %}"></script>
<script src="{% static "js/aos.min.js" %}"></script>
<script src="{% static "js/baguetteBox.min.js" %}"></script>
<script src="{% static "js/creative.js" %}"></script>
<script src="{% static "js/agency.js" %}"></script>
<script src="{% static "js/typed.umd.js" %}"></script>
<script src="{% static "js/sweetalert2.all.min.js" %}"></script>

{% if not request.user.is_authenticated %}
    <script type="text/javascript" src="https://otpless.com/auth.js"></script>
{% endif %}

    
    {% for message in messages  %}
    <script>
      swal.fire({position:"top-end", icon:'{{message.tags}}', title:'{{message}}', showConfirmButton:false, timer:2000});
    </script>
  {% endfor %}


<script>
  let typingText = new Typed("#title_angel", {
            strings: ['ANGEL', 'WATCH'],
            loop: true,
            typeSpeed: 100,
            backSpeed: 50,
            backDelay: 1000,
        });
    </script>

    <script type="text/javascript">
      function otpless(otplessUser) {
       var waName = otplessUser.waName;
       var waNumber = otplessUser.waNumber;
       $.ajax({
            type: "GET",
            url: '/whatsapp-login/',
            data: {
                "waName": waName,
                "waNumber":waNumber,
            },
            dataType: "json",
            success: function (data) {
                // any process in data
                
                window.location.assign('{% url "home" %}');
            },
            failure: function () {
                alert("failure");
            }
        });
        window.location.href="{% url 'home' %}";
      }
    </script>